[Unit]
Description=Mount NFS Music folder

[Mount]
What=/media/music
Where=/srv/nfs/music
Options=bind
TimeoutSec=5m

[Install]
WantedBy=local-fs.target

